<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.icon">
    <title>404 Not Found</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
        }
        h1 {
            font-size: 48px;
            margin-top: 100px;
        }
        p {
            font-size: 24px;
            margin-top: 40px;
        }
    </style>
</head>
<body>
<h1>404</h1>
<p>The requested page could not be found.</p>
<ul>
    <li><a href="/user/login">Login</a></li>
    <li><a href="/user/register">Register</a></li>
</ul>
</body>
</html>