<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.icon">
    <link rel="stylesheet" href="/static/style.css">
    <title>500 Internal Server Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
        }
        h1 {
            font-size: 48px;
            margin-top: 100px;
        }
        p {
            font-size: 24px;
            margin-top: 40px;
        }
    </style>
</head>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <div class="login-register">
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    </div>
</div>

<body>
<h1>500</h1>
<p>Internal Server Error</p>
{{ if .error }}
<p style="color: red">{{ .error }}</p>
{{ end }}
</body>
</html>