{{if .BlobData}}
    {{if .IsBinary}}
        <pre>{{ .BlobData }}</pre>
    {{else if eq .ContentType "text/html"}}
        {{ .BlobData | html }}
    {{else}}
        <pre>{{ .BlobData }}</pre>
    {{end}}
{{end}}