<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.icon">
    <title>Tiny Github</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <div class="login-register">
        <a href="/user/logout">Logout</a>
        <a href="/repos/new">Create Repo</a>
    </div>
</div>

<body>
<h1>Create Repository</h1>
{{ if .Error }}
<p style="color: red;">{{ .Error }}</p>
{{ end }}
<form method="POST" action="/repos/new">
    <label for="reponame">Name:</label>
    <input type="text" id="reponame" name="reponame" required><br><br>
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea><br><br>
    <input type="submit" value="Create">
</form>
</body>
</html>