<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.icon">
    <title>Tiny Github</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <div class="login-register">
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    </div>
</div>
<div class="main-image">
    <img  src="/static/logo.png"  height="50" width="auto" alt="Tiny Github Logo">
</div>

<h1>Tiny Github </h1>
<p> 全球最大的同性交友平台 tiny gayhub </p>

</body>
</html>