<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.icon">
    <title>Tiny Github</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="topnav">
    <a class="active" href="/user/login">Login</a>
    <div class="login-register">
        <a href="/user/register">Register</a>
    </div>
</div>

<body>
<h1>Login</h1>
{{ if .error }}
<p style="color: red">{{ .error }}</p>
{{ end }}
<form method="post" action="/user/login">
    <p>
        <label>Account(Username or Email):</label>
        <input type="text" name="account" required>
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password" required>
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
</form>
<ul>
    <li><a href="/user/register">Register</a></li>
</ul>
</body>
</html>