<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
{{ if .error }}
<p style="color: red">{{ .error }}</p>
{{ end }}
<form method="post" action="/user/login">
    <p>
        <label>Account(Username or Email):</label>
        <input type="text" name="account" required>
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password" required>
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
</form>
<ul>
    <li><a href="/user/register">Register</a></li>
</ul>
</body>
</html>