{{if .TreeEntries}}
<ul class="tree">
  {{range .TreeEntries}}
  <li class="tree-entry">
    {{if eq .Type.String "tree"}}
    <span class="tree-icon tree-icon-directory"></span>
    <a href="/{{$.Owner}}/{{$.RepoName}}/tree/{{.Path}}">{{.Path}}</a>
    {{else}}
    <span class="tree-icon tree-icon-file"></span>
    <a href="/{{$.Owner}}/{{$.RepoName}}/blob/{{.Path}}">{{.Path}}</a>
    {{end}}
  </li>
  {{end}}
</ul>
{{else}}
<p>Empty Repository</p>
{{end}}